<h2>Create a Xero Payroll Employee</h2>

<form method="POST">
    <label for="firstName">First name:</label>
    <br>
    <input type="text" id="firstName" placeholder="" name="firstname"/>
    <br>
    <label for="lastName">Last name:</label>
    <br>
    <input type="text" id="lastName" placeholder="" name="lastname" />
    <br>
    <br>
    <input type="submit" />
</form>

<hr/>
<br />

<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
