<h2>Create a Xero Payroll Employee</h2>

<form method="POST">
    <label for="firstName">First Name:</label>
    <br>
    <input type="text" id="firstName" placeholder="" name="firstName"/>
    <br>
    <label for="lastName">Last Name:</label>
    <br>
    <input type="text" id="lastName" placeholder="" name="lastName" />
    <br>
    <br>
    <input type="submit" />
</form>

<br>
<p>
  <button onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
