<h2>Create a Xero Fixed Asset</h2>

<form method="POST">
    <label for="Name">Asset Name:</label>
    <br>
    <input type="text" id="Name" placeholder="Enter a name for the asset" name="Name"/>
    <br>
    <label for="Number">Asset Number:</label>
    <br>
    <input type="text" id="Number" placeholder="Enter a number for the asset" name="Number" />
    <br>
    <br>
    <input type="submit" />
</form>

<br>
<p>
  <button onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
