<h2>Create a Xero Fixed Asset</h2>

<form method="POST">
    <label for="Name">Asset name:</label>
    <br>
    <input type="text" id="Name" placeholder="Enter a name for the asset" name="name"/>
    <br>
    <label for="Number">Asset number:</label>
    <br>
    <input type="text" id="Number" placeholder="Enter a number for the asset" name="number" />
    <br>
    <br>
    <input type="submit" />
</form>

<hr/>
<br/>

<button class="btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
