@model dynamic

<h2>Xero Assets</h2>

<table class="table-responsive-lg">
  <tr>
    <th>Asset Name</th>
    <th>Asset Number</th>
  </tr>
  @foreach (var item in Model) {
    <tr>
      <td>@item.AssetName</td>
      <td>@item.AssetNumber</td>
    </tr>
  }
</table>

<hr/>
<br/>


<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>