<h2>Create a Xero Contact</h2>

<form method="POST">
    <label for="Name">Contact name:</label>
    <br>
    <input type="text" id="Name" placeholder="Enter a unique name" name="name"/>
    <br>
    <label for="EmailAddress">Contact Email Address:</label>
    <br>
    <input type="text" id="EmailAddress" placeholder="Enter email address" name="emailAddress" />
    <br>
    <br>
    <input type="submit" />
</form>

<hr/>
<br />

<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
