<h2>Create a Xero Contact</h2>

<form method="POST">
    <label for="Name">Contact Name:</label>
    <br>
    <input type="text" id="Name" placeholder="Enter a unique name" name="Name"/>
    <br>
    <label for="EmailAddress">Contact Email Address:</label>
    <br>
    <input type="text" id="EmailAddress" placeholder="Enter email address" name="EmailAddress" />
    <br>
    <br>
    <input type="submit" />
</form>

<br>
<p>
  <button onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
