@model dynamic

<h2>Xero Contacts</h2>

<table class="table-responsive-lg">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  @foreach (var contact in Model) {
    <tr>
      <td>@contact.Name</td>
      <td>@contact.EmailAddress</td>
    </tr>
  }
</table>

<hr/>
<br />

<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
